p{
    text-align: center;
    font-size: 44px;
    margin: 0;
}

#header,#navigator{
text-align: center;

}
#header{
    margin-top: 100px;
    padding-left: 50px;
}
img{
    width: 200px;
height: auto;
object-fit: cover;
}
ul{
    list-style-position: inside;
    margin-top: 80px;
    
}
.image{
    display: none;
}
.image1{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(-1);
    
    
}
a{
    color: blue;
}